cross-seed() {
  CS_GIT_DIR="$HOME/.xs-git"

  if [[ "$1" == "stop" ]]; then
    echo "Stopping cross-seed processes…"
    pkill -f "$CS_GIT_DIR/dist/cmd.js"
    if [[ $? -eq 0 ]]; then
      echo "Cross-seed processes stopped."
    else
      echo "No cross-seed processes found."
    fi
    return 0
  fi

  if [[ "$1" == "--help" ]]; then
    echo 'To stop cross-seed use the "cross-seed stop" command.'
    echo
    echo "-----------------------------------------------------"
    echo
    NODE_OPTIONS=--disable-wasm-trap-handler \
      NODE_VERSION=22 \
      node "$CS_GIT_DIR/dist/cmd.js" "--help"
    return 0
  fi

  NODE_OPTIONS=--disable-wasm-trap-handler \
    NODE_VERSION=22 \
    node "$CS_GIT_DIR/dist/cmd.js" "$@"
}